.pg-mensagem{
    background-color: #583BBF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    *button{
        cursor: pointer;
    }
    p , h4 {
        color: white;
        font-size: 18px;
    }
    h2{
        color: #ffff;
    }

    .pt-cima{
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }
    .pt-baixo{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50%;
        width: 100%;
        justify-content: space-evenly;
        textarea{
            height: 50%;
            width: 70%;
            max-width: 70%;
            min-width: 70%;
            max-height: 50%;
            min-height: 50%;
        }
        button{
            width: 70px;
            border-radius: 18px;
            background-color: #BF8B17;
            border: none;
            color: #fff;
            height: 30px;
        }
    }

    .pt-cima2{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 28%;
        justify-content: space-evenly;
        
    }
    .esq{
        display: flex;
        flex-direction: column;
        background-color: #DAA632;
        align-items: center;
        width: 30%;
        height: 100%;
        border-radius: 8px;
        border-top-right-radius: 0px;
    }
    .nome-sala{
        display: flex;
        height: 40px;
        background-color: #DAA632;
        align-items: center;
        justify-content: center;
        h3{
            color: #fff;
            font-weight: 500;
        }
    }
    .org{
        display: flex;
        flex-direction: row;
        align-items: center;
        
        height: 25px;
        input{
            height: 25px;
            border-radius: 5px;
            border: none;
        }
        select{
            height: 25px;
            border-radius: 5px;
            width: 13em;
            border: none;
        }
        button{
            width: 70px;
            border-radius: 18px;
            background-color: #BF8B17;
            border: none;
            color: #fff;
            height: 30px;
        }
    }
    .org-botao{
        width: 70%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
        button{
            width: 70px;
            border-radius: 18px;
            background-color: #BF8B17;
            border: none;
            color: #fff;
            height: 30px;
        }
    }
    .caixa-msg{
        height: 35px;

    }
    .dir{
        display: flex;
        flex-direction: column;
        width: 70%;
        overflow-y: scroll;
        .msg{
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;
            justify-content: flex-end;
            height: 100%;
            border: 3px solid rgb(61, 61, 61);
            border-radius: 5px
        }

    }
    .alterar{
        cursor: pointer;
    }
    .menssagem{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .meio{
        background-color: #4A4A41;
        width: 80%;
        height: 70vh;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
    }
}